body{
	font-size: 16px;
}
.main {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#load {
	min-width: 200px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	box-sizing: border-box;
}
#user_results {
	width: 100%;
}